* {
    margin: 0;
    padding: 0;
}


/* body {
    box-sizing: border-box;
} */

.colorWhite {
    color: white;
}

.exercise-headers,
.exercise-paragraphs {
    text-align: center;
    font-weight: 300;
}

.exercise-headers {
    font-size: 50px;
    font-weight: lighter;
}

.exercise-paragraphs {
    color: gray;
}


/* EXERCISE 1 STYLE */

#exercise1 .big-box {
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    height: 400px;
}

.box-paragraphs {
    font-size: 14px;
    color: #fff;
}

#box-1 {
    text-align: center;
    background-color: #6bb56b;
    border-right: 2px solid black;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-2 {
    background-color: #299bff;
    display: flex;
    align-items: flex-end;
    width: 18%;
    justify-content: center;
}

#box-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 32%;
}

.box-3-columns {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-3 .box-3-columns:nth-child(1) {
    background-color: #fff7bc;
}

#box-3 .box-3-columns:nth-child(2) {
    background-color: #ffed69;
}

#box-3 .box-3-columns:nth-child(3) {
    background-color: #ffe41f;
}

#cardContainer {
    justify-content: space-between;
    text-align: center;
}

.ex2-cards {
    width: 31%;
}

.exercise-containers{
    margin-top: 40px;
}


/* EXERCISE 3 STYLE */

.ex3-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ex3-cards{
    margin-top: 20px;
}

.ex3-cards .card-body{
    padding: 12px;
}

.ex3-cards .card-body > p{
    font-size: 13px;
    color: grey;
}


.card3-bottom-elements{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: baseline;
   
}

.card3-btns{
    display: flex;
}

.card3-btns button:nth-child(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card3-btns button:nth-child(2){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* EXERCISE 4 STYLE */

.ex4-big-container{
    display: flex;
    margin-top: 30px;
}



.secondary-text{
    font-weight: 300;
}

.sidebar-ul > li{
    list-style-type: none;
}

.sidebar-p{
    font-size: 13px;
}

.post-text{
    font-size: 13px;
}

.card-footer p{
    margin-bottom: 0;
}

.paginate{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.paginate button:nth-child(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.paginate button:nth-child(2){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Exercise 5 style */

.footer-col-ul li{
    list-style-type: none;
}

.footer-col-ul li a{
    color: gray;
    font-weight: 300;
}