* {
    margin: 0;
    padding: 0;
}


/* body {
    box-sizing: border-box;
} */

.colorWhite {
    color: white;
}

.exercise-headers,
.exercise-paragraphs {
    text-align: center;
    font-weight: 300;
}

.exercise-headers {
    font-size: 50px;
    font-weight: lighter;
}

.exercise-paragraphs {
    color: gray;
}


/* EXERCISE 1 STYLE */

#exercise1 .big-box {
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    height: 400px;
}

.box-paragraphs {
    font-size: 14px;
    color: #fff;
}

#box-1 {
    text-align: center;
    background-color: #6bb56b;
    border-right: 2px solid black;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-2 {
    background-color: #299bff;
    display: flex;
    align-items: flex-end;
    width: 18%;
    justify-content: center;
}

#box-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 32%;
}

.box-3-columns {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-3 .box-3-columns:nth-child(1) {
    background-color: #fff7bc;
}

#box-3 .box-3-columns:nth-child(2) {
    background-color: #ffed69;
}

#box-3 .box-3-columns:nth-child(3) {
    background-color: #ffe41f;
}

#cardContainer {
    justify-content: space-between;
    text-align: center;
}

.ex2-cards {
    width: 31%;
}